# Git ignore list...

# Compiled code.
*.o
*.exe
*.so
*.dylib
*.dSYM
*.a
ship_server

ship_config.xml

# Autotools generated stuff and various other build process junk.
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
.deps
.dirstamp
src/version.h
config.h
stamp-h1
